<%= nested_form_for @gallery, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <%= f.fields_for :paintings do |photo_form| %>
    <%= photo_form.label :name %>
    <%= photo_form.text_field :name %>
    <%= photo_form.file_field :image %>
    <%= photo_form.link_to_remove "Remove this photo" %>
  <% end %>

<p><%= f.link_to_add "Add a photo", :paintings %></p>

  <p><%= f.submit %></p>
<% end %>
